.button-delete {
  margin-right: 10px;
}

.button-auth {
  margin: 0 auto;
  display: block;
}

/* .label {
  margin: 30px;
} */

.input {
  width: 500px;
}

.spinner {
  display: flex;
  align-items: center;
  flex: 2;
}

.section {
  background-color: yellow;
  flex: 1;
}

/**************************************/
/*********AUTH FORMS
/**************************************/

.auth-form {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.auth-form-title {
  text-align: center;
}

.auth-form-inputwrapper {
  margin: 40px 0;
}

/**************************************/
/*********LANDING PAGE
/**************************************/
.landing-page {
  background-image: url("https://freedesignfile.com/upload/2016/11/The-blue-light-shines-on-the-cheering-crowd-rock-concert-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-body {
  text-align: center;
}

/**************************************/
/*********SEARCH FORM
/**************************************/

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form button {
  margin-left: 20px;
}

.search-title {
  text-align: center;
  margin-top: 20px;
}

/**************************************/
/*********DASHBOARD
/**************************************/
.dashboard {
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-links {
  background-color: #23d160;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/**************************************/
/*********DASHBOARD CONTENT
/**************************************/

.content,
.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 50px;
}

.myinfo-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.myinfo-content {
  margin-bottom: 30px;
}

.myinfo-title {
  margin-right: 15px;
  font-size: 36px;
}

.myinfo-content span {
  font-size: 24px;
  font-weight: 100;
}

.instruments-body,
.experience-body,
.education-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: lightgreen;
}

.content-info {
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  margin-bottom: 20px;
}

.content-info span {
  margin-right: 15px;
}

/**************************************/
/*********  BANDS LIST
/**************************************/

.bands-list {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  padding: 20px;
}

.card {
  margin: 0 20px;
  flex: 1;
}
