.button {
  margin: 0 10px;
}

.button-auth {
  margin: 0 auto;
  display: block;
}

.label {
  margin: 30px;
}

.input {
  width: 500px;
}

.spinner {
  display: flex;
  align-items: center;
  flex: 2;
}

.section {
  margin-right: 30px;
}

/**************************************/
/*********LANDING PAGE
/**************************************/
.landing-page {
  background-image: url("https://freedesignfile.com/upload/2016/11/The-blue-light-shines-on-the-cheering-crowd-rock-concert-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-body {
  text-align: center;
}

/**************************************/
/*********SEARCH FORM
/**************************************/

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form button {
  margin-left: 20px;
}

.search-title {
  text-align: center;
  margin-top: 20px;
}

/**************************************/
/*********DASHBOARD
/**************************************/
.dashboard {
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-links {
  background-color: #23d160;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/**************************************/
/*********DASHBOARD CONTENT
/**************************************/

.content,
.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 50px;
}

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-content span {
  margin-left: 20px;
}

.instruments-body,
.myinfo-body,
.experience-body,
.education-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column wrap;
  align-items: center;
  width: 90%;
  background-color: lightgreen;
}

/* .myinfo-body div,
.experience-body div {
  margin: 20px 0;
  font-size: 20px;
} */

.content-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.content-info span {
  margin-left: 15px;
}
